@{
    ViewData["Title"] = "Home Page";
} 

<style>
    body {
        background-color: antiquewhite
    }
</style>
<div class="text-center background-div">
   <h1>RailConnect</h1>
    <h2>Sigurno, udobno, na vrijeme.</h2>
</div>
