@model RailConnect.Models.Voz

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Voz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrsta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kapacitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kapacitet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVoz" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
